            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            
            body {
                width: 86%;
                position: relative;
                background: #000;
                color: #ffff;
                font-size: 16px;
                font-family: 'Oswald', sans-serif;
            }
            
            #img {
                float: right;
                background-repeat: no-repeat;
                background-position: right;
                background-size: 100%;
                z-index: 0;
            }
            
            a {
                color: #ffff;
                text-decoration: none;
            }
            
            ul {
                list-style: none;
            }
            
            .container {
                width: 90%;
                margin: auto;
            }
            /*Navigation */
            
            .nav-main {
                position: absolute;
                width: 70%;
                font-size: 17px;
                margin-top: 40px;
                margin-left: 210px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                padding: 20px 0;
            }
            
            .nav-brand {
                width: 50px;
            }
            /* NAV LEFT*/
            
            .nav-main ul {
                display: flex;
                border-bottom: 1px solid #fff;
            }
            
            .nav-main ul li {
                padding: 10px;
            }
            
            .nav-main ul .nav-menu {
                flex: 1;
                margin-left: 20px;
            }
            
            .nav-main ul li a {
                padding: 2px;
            }
            
            .nav-main ul li a:hover {
                border-bottom: 2px solid #fff;
            }
            /* Sidebar */
            
            .btn-menu {
                padding: 20px;
                background: #0d2c44;
                color: #fff;
            }
            
            .btn-menu .icon {
                float: right;
            }
            
            aside {
                position: absolute;
                display: inline;
                top: 200px;
                left: -47px;
                height: 70%;
                float: left;
                z-index: 0;
            }
            
            .container-menu {
                width: 10%;
                min-width: 300px;
                margin: 50px;
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 18px;
            }
            
            .container-menu .menu {
                width: 100%;
            }
            
            .container-menu ul {
                list-style: none;
            }
            
            .container-menu .menu li a {
                color: #000;
                display: block;
                padding: 15px 20px;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 4px;
            }
            
            .container-menu .menu .efect li {
                color: #fff;
                display: block;
                text-align: right;
                font-size: 14px;
                padding: 9px 10px;
                padding-right: 10%;
                background: #424242;
                border-radius: 4px;
            }
            
            .container-menu .menu .efect li.lenguage {
                color: #fff;
                display: block;
                font-size: 16px;
                padding: 15px 20px;
                text-align: center;
                background: #1a95d5;
                border-radius: 4px;
            }
            
            .container-menu .menu #environment {
                color: #1a95d5;
                display: block;
                padding: 15px 20px;
                text-align: left;
                background: #fff;
                border-radius: 4px;
            }
            
            .container-menu .menu li.environment {
                color: #1a95d5;
                display: block;
                padding: 15px 20px;
                text-align: left;
                background: #fff;
                border-radius: 4px;
            }
            
            .container-menu .menu li a:hover {
                background: #1a95d5;
                color: #fff;
            }
            
            .container-menu .menu .icon {
                font-size: 12px;
                line-height: 18px;
            }
            
            .container-menu .menu .icon.left {
                float: left;
                margin-right: 10px;
            }
            
            .container-menu .menu .icon.right {
                float: left;
                margin-right: 10px;
            }
            
            .container-menu .menu ul {
                display: none;
            }
            
            .container-menu .menu ul li {
                background: #424242;
                color: #e9e9e9;
            }
            
            .container-menu .menu li>a {
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
            }
            /* Slider animation*/
            
            .hobby {
                justify-content: center;
            }
            
            .slider {
                position: absolute;
                width: 100%;
                float: right;
                margin: auto;
                margin-top: 300px;
                overflow: hidden;
                justify-content: right;
            }
            
            .slider p {
                font-size: 18px;
                padding-right: 15px;
                justify-content: left;
                width: 63%;
                margin-left: 20%;
            }
            
            .slider strong {
                font-size: 25px;
                color: #1a95d5;
                display: block;
                margin-top: 9px;
                border-bottom: 1px solid #fff;
            }
            
            .slider ul {
                display: flex;
                padding: 0;
                width: 400%;
                animation: changeDuration 20s infinite alternate;
                animation-timing-function: ease-in-out;
            }
            
            .slider li {
                width: 100%;
                list-style: none;
            }
            
            .slider img {
                width: 60%;
                height: 70%;
                border: 1px solid #fff;
                padding: 2px;
                background: #fff;
                opacity: .7;
                display: block;
                margin: auto;
            }
            
            @keyframes changeDuration {
                0% {
                    margin-left: 0%;
                }
                20% {
                    margin-left: 0%;
                }
                25% {
                    margin-left: -100%;
                }
                45% {
                    margin-left: -100%;
                }
                50% {
                    margin-left: -200%;
                }
                70% {
                    margin-left: -200%;
                }
                75% {
                    margin-left: -300%;
                }
                100% {
                    margin-left: -300%;
                }
            }
            /* SHOWCASE */
            
            hr {
                margin: 10px 0;
            }
            
            .btn-read-more {
                cursor: pointer;
                display: inline-block;
                border: 0;
                font-weight: bold;
                padding: 10px 20px;
                background: #262626;
                color: #fff;
                font-size: 15px;
                border: 1px solid #fff;
                margin: 10px 0;
            }
            
            .btn-read-more:hover {
                opacity: .7;
            }
            
            .hobby {
                width: 100%;
                height: 350px;
                margin-bottom: 40px;
            }
            
            .hobby .content {
                width: 100%;
                padding: 90px 0 0 30px;
                color: #fff;
            }
            /* SOCIAL */
            
            .eje {
                position: relative;
                margin-top: 450px;
            }
            
            .social p {
                text-align: center;
                font-size: 30px;
            }
            
            .links {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .links a {
                margin: 0 15px;
            }
            
            .links i {
                font-size: 3rem;
            }
            /* FOOTER */
            
            .footer-links {
                color: #005effd7;
                padding: 35px 0;
                font-size: 16px;
            }
            
            .footer-container {
                display: grid;
                gap: 10px;
                justify-items: center;
            }
            
            .footer-container ul {
                margin: 0 auto;
            }
            
            .footer-container ul li {
                line-height: 2.8;
            }
            
            .footer-container ul li .copyright {
                color: #fff;
                font-size: 12px;
                font-style: oblique;
                padding-left: 150px;
            }
            /* ADAPTABILITY TO DIFFERENT DEVICE*/
            
            @media only screen and (max-width:500px) {
                .nav-main {
                    display: none;
                }
                section {
                    display: none;
                }
                .footer-container {
                    display: none;
                }
            }